*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: all .2s linear;
}
section{
    z-index: 1;
}
.navbar{
    z-index: 2;
}
.dropdown_menu.open{
    z-index: 3;
    position: fixed;
}


.homesection{
    height: 75vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1462536943532-57a629f6cc60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80');
    background-size: cover;
    background-position: center;
    position: relative;
}

a{
    text-decoration: none;
    color:#fff;
    font-size: 1.15rem;
}
a:hover{
    color: #07e4ce;
    text-decoration: none;
}

.homesection .navbar{
    width: 100%;
    height: 90px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 40px 80px;
    justify-content: space-between;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
   
}
.homesection .navbar .logo {
    position: relative;
    font-size: 2.2rem;
    font-weight:700;
    color: white;
    letter-spacing: 2px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 100px;
    
    
}

.homesection .navbar .logo .logo_span{
    color: #07e4ce;
    
}
.homesection .navbar .links{
    display: flex;
    gap: 3rem;
    margin-right: 100px;

}
.homesection .navbar .links a{
    font-size: 0.9rem;
    letter-spacing: 1.5px;
}

.homesection .navbar .toggle_btn{
    
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: black;
    color: white;
    padding: 0.2rem 1rem;
    border: 1px solid #07e4ce;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-left: 5px;
}
.action_btn:hover{
    scale: 1.05;
    color: lightgray;
}
.action_btn:active{
    scale: 0.95;
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: height .2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 25px;
    
}
.dropdown_menu.open{
    height: auto;
}
.dropdown_menu li{
    margin-top: 5px;
    padding: 0.3rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;


}

.dropdown_menu .action_btn{
    
    display: flex;
    justify-content: center;
    cursor: pointer;

}

@media(max-width: 873px){
    .homesection .navbar .links,
    .homesection .navbar .action_btn{
        display: none;
    }
    .homesection .navbar .toggle_btn{
        display: block;
    }
    .homesection .dropdown_menu{
        padding-top: 5%;
        left: 2rem;
        width: unset;
    }
    .navbar{
        z-index: 4;
    }
}
i{
    color: #fff;
}
.homesection .dropdown_menu{
    display: block;
}

.welcome{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;  
    z-index: 1;
}
.welcome h1{
    font-size: 4.5rem;
    margin-top: 0%;
}
.welcome p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.welcome button{
    width: 150px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #07e4ce;
    background: transparent;
    color:#fff
} 
.welcome button:hover{
    background-color: #07e4ce;
    color: black;
    scale: 1.05;
}
.programs{
   

    background-repeat: no-repeat;
    background-size: cover;
}
.courses, .services{
    height: auto;
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
    border-bottom: 1px solid lightblue;
    
}
section h1{
    text-align: center;
    padding: 1rem 0;
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    position: relative;
}
.courses span, .services span{
    color:#07e4ce;
    display: inline-block;
} 
.courses .box .container img{
    width: 100%;
    height: 15rem;
}
.box h3{
    font-size: 1.15rem;
    font-weight: 800;
    text-align: center;
    padding: 1rem;
    
}
.box a{
    color: black;
}
.box .container{
    border-radius: 25px;
    box-shadow: 0 0.25rem 0.25rem lightgray;
    margin-bottom: 5px;
    height: 23rem;
    text-align: center;
    cursor: pointer;
}
.box .container p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.services .box .container a{
    width: 100px;
    padding: 5px;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(58, 58, 248);
    background: transparent;
    color:black;
    position: relative;
}
.services .box .container a:hover{
    background-color: rgb(58, 58, 248);
    color: white;
    scale: 1.05;
}
.courses .box .container:hover{
    scale: 1.005;
    border: 3px solid lightgray;
}
.box .col-lg-4{
    padding: 2rem;

}
.services .box .container i{
   font-size: 50px;
   color: #07e4ce;
   margin-bottom: 10px;
   margin-top: 30px;
    
}
.services .box .container{
    background-color: rgb(235, 235, 235);
}
.aboutus{
    background-color: rgb(234, 246, 250);

}
.aboutus .container{
    height: auto;
    box-shadow: 0 0.25rem 0.25rem gray ;
}
.contactus {
    background-color: rgb(91, 124, 131);
}
.contactus .container{
    height: auto;
    box-shadow: none;
}
.contactus h1{
 color: white;
 margin-bottom: 2%;
}
.contactus i{
    font-size: 30px;
    margin-bottom: 5px;
}
.contactus i:hover{
    scale: 1.5;
}
.contactus a{
    font-size: 0.8rem;
    font-weight: bold;
}
.contactus .row p{
    text-align: center;
    color: rgb(202, 201, 201);
    font-size: 13px;
}




